html {
    scroll-behavior: smooth;
}

body {
    background-color: #FEFFF9;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* <weight>: Use a value from 100 to 900 */
}

.headings {
    font-size: 5vw;
    color: #034b30;
    padding-left: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    /* <weight>: Use a value from 200 to 800 */
}

#logo {
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: auto;
    padding: 2%;
    border-radius: 10px;
    position: fixed;
    top: 2vh;
    transform: translateX(50%);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.097));
}

#vherna {
    width: 90%;
    height: 80%;
}

#bannerContainer {
    width: 100vw;
    aspect-ratio: 16/10;
    /* background-color: red; */
    background-image: url("VHERNA.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#posterContainer {
    height: 80%;
    width: 100%;
    padding: 5%;
    scroll-behavior: smooth;
    /* background-color: aqua; */
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 10vw;
}

.poster {
    width: 80%;
    aspect-ratio: 16/9;
    /* background-color: blue; */
    display: inline-block;
    border-radius: 30px;
    border: 1px solid black;
}

/* enter poster links under this */

#poster1 {
    background-image: url("Frizz_Perfect_Hair_Serum_6_Front.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#poster2 {
    background-image: url("download 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#poster3 {
    background-image: url("images2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#poster4 {
    background-image: url("images.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#categoryDiv {
    /* background-color: greenyellow; */
    height: 25vh;
    width: 100vw;
    margin-top: 5vh;
}

.categoryName {
    transform: translateY(-50%);
    font-size: 30px;
}

#options {
    width: 100%;
    height: 80%;
    scroll-behavior: smooth;
    /* background-color: aquamarine; */
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 5vw;
    transform: translateY(-10%);
}

.option {
    /* background-color: green; */
    border: 3px solid #00C57A;
    width: 20%;
    margin: 2.5%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#option1 {
    margin-left: 5%;
    background-image: url("WhatsApp Image 2025-07-31 at 02.00.51_375cca4a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option2 {
    background-image: url("WhatsApp Image 2025-07-31 at 02.04.01_ffe3a1c6.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option3 {
    background-image: url("WhatsApp Image 2025-07-31 at 02.10.00_605cfdf2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option4 {
    background-image: url("WhatsApp Image 2025-07-31 at 02.14.12_fffeca87.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#option5 {
    margin-right: 5%;
    background-image: url("WhatsApp Image 2025-07-31 at 02.17.13_d66fb73b.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.categoryName {
    transform: translateY(400%);
    font-size: 15px;
}

#gif {
    width: 100vw;
    aspect-ratio: 1920/1080;
    position: fixed;
    top: 50%;
}

#latest {
    width: 100vw;
    aspect-ratio: 16/10;
    /* background-color: red; */
}

#latest .headings {
    transform: translateY(100%);
    /* background-color: #00C57A; */
}

#latestContainer {
    width: 100vw;
    aspect-ratio: 16/10;
    /* background-color: red; */
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    gap: 10%;
}

.product {
    height: 70%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    background-color: #E4E4E4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#product1 {
    margin-left: 5%;
}

#product2 {
    margin-right: 5%;
}

#latest .product .name {
    /* background-color: greenyellow; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

.image {
    /* background-color: blue; */
    height: 120%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-16.5%);

}

#latest .product .name p {
    /* background-color: rgb(76, 60, 60); */
    font-size: 20px;
    margin: 5%;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

#latest .product .model {
    height: 80%;
    scale: 1.1;
    transform: translateY(20%);
    aspect-ratio: 1920/1080;
    filter: saturate(200%);
}
